@mixin select_legacy {
	display:inline-block;
	position:relative;
	min-height:2em;
	min-width:150px;
	
	> .opener {
		cursor:pointer;
		position:absolute;
		height:100%;
		width:100%;
		opacity:0;
		z-index:2;
		
		&:checked {
			display:none;
			
			~ .options {
				.label {
					display:block;
				}
				&:before {
					display:none;
				}
			}
		}
	}
	
	> .options {
		width:100%;
		min-height:100%;
		position:absolute;
		border:1px solid gray;
		background-color:$white;
		
		&:before {
			content:"";
			position: absolute;
			right:0.75em;
			top:50%;
			transform:translateY(-50%);
			border-left:5px solid transparent;
			border-right:5px solid transparent;
			border-top: 5px solid black;
			pointer-events:none;
		}
	}

	.label:hover {
		background-color:$light_teal;
	}
	
	.label {
		display:none;
		padding:0.5em;
		cursor:pointer;
		padding-right:1.5em;
	}
	
	
	.value {
		display:none;
		
		&:checked + .label {
			display:block;
		}
	}
}