@mixin animation_layer($name, $amount, $displayDuration, $transitionDuration, $distance) {
	$loopDuration : ($displayDuration + $transitionDuration) * $amount;
	$displayPercent : $displayDuration / $loopDuration * 100;
	$transitionPercent : $transitionDuration / $loopDuration * 100;

	> .#{$name} {
		width: 100% + ($amount - 1) * $distance;
		animation: #{$name}_animation $loopDuration+s linear infinite;
	}

	@keyframes #{$name}_animation {
		$percent : 0%;
		$offset : 0%;

		/*@for $i from 0 to $amount {			
			#{$percent} {
				margin-left: -$offset;
			}

			$percent : $percent + $displayPercent;

			#{$percent} {
				margin-left: -$offset;
			}

			$offset : $offset + $distance;
			$percent : $percent + $transitionPercent;
		}*/

		%100 {
			margin-left:0%;
		}
	}
}
